@charset utf-8;
/* CSS Document */
/***************************************
*	Version 		15.00.01
*	Author			wuwg
*  	CreateTime      15.04.27
 *	UpdateTime		15.04.27
* *************************************************/
 
 
/**************************************
*name     		 layout
*status   		 start
*CreatTime 		 15.04.27
**************************************/
.fd-contain {
		background-color:#fff;
		min-width:1000px;
		overflow:hidden;
	}
.fd-contain ,.fd-header,.fd-content,.fd-footer {
		width:100%;;
	}	
.fd-header{
	
	}
.fd-content{

	}
.fd-footer{
	
	}
.fd-header-in ,.fd-main,.fd-footer-in{
		margin:0 auto;
		width:;
	}	
/**************************************
*name      		layout
*status   		 end
*CreatTime 		 15.04.27
**************************************/

/**************************************
*name     		theme
*status    		start
*CreatTime 		15.04.27
**************************************/


/*--------------------   header  --------------------*/


/*--------------------  content  --------------------*/

/*--------------------  footer  --------------------*/
/*----------------  2    ---------------- */
/*------------   3 ------------*/
/*--------   4 -------- */
/*----  5 ----*/
/*6 */


/**************************************
*name     		 theme
*status    		 end
*CreatTime 		 15.04.27
**************************************/


